// @import "core";

code {
  font-size: 0.9em;
  font-family: 'Courier', monospace;
  font-style: normal;
  line-height: 1em;
  display: inline-block;
  border-radius: 3px;
  padding: 3px 6px;
  background-color: darken($background-color, 5%);
  color: $foreground-color;
  &.tag {
    &:before {
      content: '<';
    }
    &:after {
      content: '>';
    }
  }
}

pre {
  overflow-x: scroll;
  border-radius: 3px;
  margin: 10px 0;
  display: block;
  width: auto;
}
pre > code {
  min-width: 100%;
  font-size: 0.9em;
  font-family: 'Courier', monospace;
  font-style: normal;
  line-height: 1.5em;
  background-color: darken($background-color, 5%);
  color: $foreground-color;
}
