@import-once 'core';

.header() {
  width: 100%;
  margin: 0;
  font-weight: 400;
}

h1 {
  .header;
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 10px;
}
h2 {
  .header();
  font-size: 1.1em;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 10px;
}
h3 {
  .header();
  font-size: 1em;
  text-transform: uppercase;
  color: lighten(@foreground-color, 40%);
  padding-top: 30px;
  padding-bottom: 5px;
}