$list-margin: 1.6em;

@mixin list() {
  width: 90%;
  margin: 0;
  padding-left: $list-margin;
  padding-top: 0;
}

ul li, ol li, dl dd {
  margin-bottom: 5px;
}

ul {
  @include list();
  list-style-type: circle;
}

ol {
  @include list();
  list-style-type: decimal;
}

dl:not(.custom) {
  @include list();
  dt {
    margin-left: -$list-margin;
    font-weight: 500;
  }
  dd {
    margin-left: -$list-margin/2;
  }
}

dl.custom {
  @include list();
  width: calc(90% + #{$list-margin});
  overflow: hidden;
  margin-top: 5px;
  dt {
    margin-left: -$list-margin;
    float: left;
    width: calc(10% + #{$list-margin});
  }
  dd {
    float: left;
    width: 80%;
    margin-bottom: 5px;
  }
}