@import "core";

/* Constants */
$menu-button-duration: .3s;
$menu-toggle-duration: .3s;
$submenu-toggle-duration: .2s;
$menu-color: lighten($foreground-color, 70%);

/* Open/close transitions */
@mixin open() {
  height: 40px;
  opacity: 1;
  transition: height $submenu-toggle-duration, opacity $submenu-toggle-duration;
}
@mixin close() {
  height: 0;
  opacity: 0;
  transition: height $submenu-toggle-duration, opacity $submenu-toggle-duration;
}

/* Menu itself */
aside {
  position: fixed;
  transition: transform $menu-toggle-duration;
  background: $background-color;
  width: $menu-width;
  max-width: $menu-width;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
  @media screen and (max-width: 1140px) {
    transform: translateX(-105%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 700px) {
    width: 80%;
  }

  /* Navigation bar */
  nav {
    width: 100%;
    font-weight: 400;

    /* Menu entries */
    a,
    a:visited,
    label,
    label:visited {
      width: 100%;
      display: block;
      text-decoration: none;
      color: $menu-color;
      cursor: pointer;
      transition: none;
      padding: 10px 20px;
      border: none;
    }
    a:hover,
    label:hover {
      background: $menu-color;
      color: $background-color;
      border: none;
    }

    /* Sub menus */
    [class^='s'] {
      height: auto;
      overflow: hidden;
      display: block;

      > a,
      > label {
        position: relative;
        padding: 0 10px 0 30px;
        font-size: .9em;
        display: flex;
        align-items: center;
        @include close();
      }
      > label > a {
        padding-left: 0;
      }
    }

    /* Interactions */
    @mixin interactions($i) {
      @for $i from 0 to 7 {
        /* Sub menu */
        input[id^='s#{$i}-'] {
          display: none;
        }
        [class='s#{$i}'] {
          a, label {
            padding-left: ($i+2)*10px;
          }
        }

        /* Open sub menu */
        input[id^='s#{$i}-']:checked + label {
          color: $foreground-color;

          + [class='s#{$i}'] {
            > a,
            > label {
              @include open();
            }
          }
        }

        /* Close sub menu */
        input[id^='s#{$i}-']:not(:checked) {
          + label + [class='s#{$i}'] {
            a, div {
              @include close();
            }
          }
        }
      }
    }

    /* Supporting 5 levels of sub menus */
    @include interactions(5);
  }
}

/* Menu buttons */
#menu {
  display: none;

  ~label#open {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 14px;
    font-size: 20px;
    background: fade($background-color, 10%);
    cursor: pointer;
    color: $menu-color;
    z-index: 3;
    transition: background $menu-toggle-duration, color $menu-toggle-duration;
  }

  ~label#open:hover {
    color: $foreground-color;
    transition: color $menu-button-duration;
  }
}

/* Exit later in main content */
#exit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $foreground-color;
  display: none;
  opacity: 0;
}
