// @import "core";
// @import "link";

span.ref {
  position: relative;
}
span.ref:after {
  content: 'ref';
  position: relative;
  color: $link-color;
  font-size: 0.7em;
  top: -0.4em;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0 solid $background-color;
}
span.ref a,
span.ref a:visited {
  position: absolute;
  bottom: 0.8em;
  padding: 5px 10px;
  width: 200px;
  color: $link-color;
  background-color: $background-color;
  box-shadow: 0 0 2px gray;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: 400;
  z-index: 2;
  text-decoration: none;
  display: none;
}
span.ref:hover a {
  display: inline-block;
}
